footer {
  display:block;
  position:relative;
  border-bottom: 2px solid lightgrey;
  width: 1200px;
  margin-left:100px;
  min-height:200px;
  text-align:center;
  background-color:white;
}

.footer_top {
  display:block;
  position: relative;
  text-align:center;
  background-color:white;
}
h3 {
  color: darkblue;
  font-size: 50px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight:normal;
  margin-top: 0px;
  padding-top: 50px;
}

.footer_middle {
  display:block;
  position: relative;
  text-align:left;
  background-color:blue;
}
.footer_adds {
  width:100%;
  margin:0;
  border:0;
  text-align:left;
}
.footer_images {
  display:inline-block;
  position: relative;
  width:auto;
  max-height:315px;
  margin-right:-2px;
  margin-bottom:-5px;
  background-color:blue;
  opacity:0.6;
  padding-top:0px;
  padding-left:0;
}
.post_text {
  display:block;
  position:absolute;
  vertical-align:bottom;
  bottom:30px;
}
.footer_images:hover {
  opacity:1.0;
  color:white;
  }
.post_text:hover {
  color:white;
}

.footer_butt {
  display:block;
  position: relative;
  text-align:center;
  background-color:#003488;
  height:80px;
  width:1200px;
  text-align:center;
}
.butt_left {
  border: 2px solid red;
  display:inline-block;
  position:relative;
  width:40%;
  height:100%;
  vertical-align:top;
}
.butt_right {
  border: 2px solid red;
  display:inline-block;
  position:relative;
  width:40%;
  height:100%;
  text-align:center;
  vertical-align:top;
}
.navlink1 {
  display:inline-block;
  position:relative;
  padding:5px;
  margin:auto;
  text-decoration:none;
  color: grey;
  font-size: 14px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight:normal;
  vertical-align:middle;
  margin-top:5%;
  margin-bottom:5%;
}
.navlink {
  display:inline-block;
  position:relative;
  border-left: 2px solid darkgrey;
  padding:0px 10px 0px 10px;
  margin:auto;
  text-decoration:none;
  color: grey;
  font-size: 14px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight:normal;
  vertical-align:middle;
  margin-top:5%;
  margin-bottom:5%;
}
