.middle {
  border-bottom: 2px solid lightgrey;
  width: 1200px;
  margin-left:100px;
  min-height:800px;
  text-align:center;
  background-color:white;
}
.column_left {
  display:inline-block;
  position:relative;
  height:700px;
  margin-left:100px;
  margin-top:50px;
  width:700px;
  margin-bottom:50px;
  vertical-align:top;
}
.column_right {
  display:inline-block;
  position:relative;
  height: 700px;
  margin-right:100px;
  margin-top:50px;
  width:250px;
  margin-bottom:50px;
  text-align:left;
  padding-left:25px;
}

h2 {
  color: darkblue;
  font-size: 50px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight:normal;
  text-align:left;
  margin:0px auto;
}

.signature {
  display:block;
  position:relative;
  text-align:left;
  width:100%;
  margin:0 auto;
}
.small_headshot {
  display: inline-block;
  position: relative;
  padding:3px 0 0 0;
  margin:0px;
  border-radius:100%;
  width:25px;
}
.sig_name {
  display: inline-block;
  position: relative;
  text-align: left;
  color:grey;
  padding-top:5px;
  vertical-align:top;
}
.sig_sig {
  color:blue;
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  vertical-align: top;
  text-decoration: none;
  padding-top:0px;
}
.sig_date {
  color:grey;
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  vertical-align: top;
  text-decoration: underline;
  padding-top:0px;

}

.text {
  display:block;
  position:relative;
  text-align:left;
  padding: 10px 20px 0 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:grey;
  font-size:15px;
}
p span a {
  color:#4885E0;
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  vertical-align: top;
  padding:0;
  text-decoration: underline;
}
.quote {
  display:block;
  position:relative;
  text-align:left;
  padding: 10px 20px 10px 10px;
  margin-left: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:grey;
  font-size:30px;
  color:#4885E0;
  border-left: 2px solid lightgrey;
}

.share_bar {
  display:block;
  position: relative;
  margin:0;
  padding:0;
  text-align:left;
}
.share_item {
  display: inline-block;
  position: relative;
  text-align:left;
  padding:0px;
  margin:5px;
  height:20px;
}
.share_image {
  display:inline-block;
  position:relative;
  width:20px;
  background-color:lightgrey;
  padding:auto;

}
.share_image1 {
  display:inline-block;
  position:relative;
  width:20px;
  margin-top:5px;
}
.share_text {
  display: inline-block;
  position: relative;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  font-size: 10px;
  background-color: grey;
  height: 100%;
  vertical-align: top;
  padding:10px 10px 5px 5px;
}
.share_text3 {
  display: inline-block;
  position: relative;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  font-size: 10px;
  background-color: #003488;
  height: 100%;
  vertical-align: top;
  padding:10px 10px 5px 5px;
}

.author {
  display:block;
  position:relative;
  width:100%;
  min-height:100px;
  text-align:center;
  padding-bottom:20px;
}
.headshot {
  border-radius:100%;
  width:80px;
  margin:5px;
  background-color:#0013FF;
}

.blueface {
  background-color:#0013FF;
}
.blueface:hover {
  opacity:1;
}

}
.author_name{
  display: block;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #003488 ;
  font-size:15px;
  font-weight:normal;
}
.author_contact {
  display: block;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #003488 ;
  font-size:15px;
  font-weight:normal;
}
.author_contact a{
  position:relative;
  padding-top:0px;
  padding-bottom:5px;
  color:grey;
}
.borderman {
  padding-left: 5px;
  padding-right:5px;
  margin-left:5px;
  margin-right:5px;
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
}
.ad {
  display:block;
  position:relative;
  width:100%;
  min-height:150px;
  text-align:right;
}
.add_pic {
  display:block;
  position: relative;
  width:100%;
  text-decoration: underline;
  background-color:#0013FF;
}
.add_pic_pelican {
  display:block;
  position: relative;
  width:100%;
  text-decoration: underline;
  opacity:.6;
}
.add_link {
  display:block;
  position: relative;

}
.add_link a {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: grey;
  font-size: 12px;
  display:block;
  position: relative;
  padding-top: 5px;
}
.side_section {
  display:block;
  position:relative;
  width:100%;
  min-height:150px;
  text-align:left;
}
h4 {
  position: relative;
  padding:30px 0px 10px 0;
  margin:0 0 0 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #003488 ;
  font-weight:normal;
}
.side_text {
  display:block;
  position: relative;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: grey;
  font-size: 12px;

}
